@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
.header {
  padding: 20px 0 20px 0;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 0 12px black;
          box-shadow: 0px 0 12px black;
  background: rgba(18, 20, 29, 0.6);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo img {
  width: 350px;
  height: 50px;
  -webkit-transition: all 0.07s linear;
  transition: all 0.07s linear;
}
.logo img:hover {
  -webkit-transform: rotate(3deg) scale(1.2);
          transform: rotate(3deg) scale(1.2);
}

.main_menu_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_menu_elements li {
  font-size: 28px;
  padding: 0 13px;
  font-weight: 700;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
}
.main_menu_elements li a {
  color: white;
  -webkit-transition: all 0.07s linear;
  transition: all 0.07s linear;
  display: inline-block;
}
.main_menu_elements li a:hover {
  color: rgb(211, 54, 54);
  -webkit-transform: rotate(5deg) scale(1.2);
          transform: rotate(5deg) scale(1.2);
}

.burger_menu {
  display: none;
}

.burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.burger span {
  border: 2px solid white;
  border-radius: 8px;
  width: 40px;
  height: 4px;
  margin: 5px 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.burger:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.burger:hover span {
  border: 2px solid rgb(211, 54, 54);
}

.main {
  padding: 30px 0;
}

.main_container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 30px 20px;
}

.main_image {
  padding-right: 40px;
}
.main_image img {
  width: 600px;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0 12px black;
          box-shadow: 0px 0 12px black;
}
.main_image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0 4px black;
          box-shadow: 0px 0 4px black;
}

.main_text p {
  font-family: "Luckiest Guy", cursive;
  font-size: 26px;
  color: white;
  line-height: 34px;
  letter-spacing: 2px;
}

.main_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.extra_menu {
  padding: 0px 20px;
}
.extra_menu ul {
  position: sticky;
  top: 100px;
}
.extra_menu a {
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  color: white;
  line-height: 44px;
  letter-spacing: 2px;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  white-space: nowrap;
  display: block;
}
.extra_menu a:hover {
  color: rgb(211, 54, 54);
  -webkit-transform: rotate(3deg) scale(1.1);
          transform: rotate(3deg) scale(1.1);
}
.extra_menu .menu_link {
  font-family: "Luckiest Guy", cursive;
  font-size: 20px;
  color: white;
  line-height: 44px;
  letter-spacing: 2px;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  display: block;
}
.extra_menu .menu_link:hover {
  color: rgb(211, 54, 54);
  -webkit-transform: rotate(-4deg) scale(1.1);
          transform: rotate(-4deg) scale(1.1);
}

.main_information {
  text-align: center;
  background-color: #121212;
  padding: 0 20px 20px 20px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0 12px black;
          box-shadow: 0px 0 12px black;
  margin-right: 20px;
}
.main_information p {
  font-family: "Luckiest Guy", cursive;
  font-size: 18px;
  color: white;
  line-height: 28px;
  letter-spacing: 2px;
}
.main_information h1, .main_information h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 32px;
  color: rgb(211, 54, 54);
  line-height: 28px;
  letter-spacing: 2px;
  margin: 40px 0;
}
.main_information h1:before, .main_information h2:before {
  display: block;
  content: "";
  height: 100px;
  margin: -100px 0 0;
}
.main_information h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 32px;
  color: rgb(211, 54, 54);
  line-height: 28px;
  letter-spacing: 2px;
  margin: 20px 0;
}
.main_information .image_monsters {
  width: 350px;
  margin-top: 20px;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}
.main_information .image_monsters:hover {
  -webkit-transform: rotate(-3deg) scale(1.1);
          transform: rotate(-3deg) scale(1.1);
}

.main_inform_characters .character h3 {
  color: white;
  font-size: 22px;
  text-decoration: underline;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 40px 0 30px 0;
}
.main_inform_characters .character h3:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: rgb(211, 138, 54);
}
.main_inform_characters .character .h3_extra {
  margin-top: -40px;
}

.slider {
  margin-top: 40px;
  width: 400px;
  height: 200px;
  overflow: hidden;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0 12px black;
          box-shadow: 0px 0 12px black;
}
.slider img {
  width: 100%;
  height: 100%;
}

.middle {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slides {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  width: 33.333333%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.bar {
  height: 8px;
  width: 30px;
  margin: 6px;
  cursor: pointer;
  background-color: #ddd;
  opacity: 0.5;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.bar:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[name=r], input[name=r1], input[name=r2] {
  position: absolute;
  visibility: hidden;
}

#r1:checked ~ .s1, #r11:checked ~ .s2, #r12:checked ~ .s3 {
  margin-left: 0;
}

#r2:checked ~ .s1, #r21:checked ~ .s2, #r22:checked ~ .s3 {
  margin-left: -33.333333%;
}

#r3:checked ~ .s1, #r31:checked ~ .s2, #r32:checked ~ .s3 {
  margin-left: -66.666666%;
}

.up_button {
  color: rgb(211, 54, 54);
  font-weight: 900;
  font-size: 32px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  line-height: 38px;
  width: 50px;
  height: 50px;
  border: 4px solid rgb(211, 54, 54);
  border-radius: 25px;
  position: fixed;
  z-index: 3;
  bottom: 90px;
  right: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: rgba(18, 20, 29, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.up_button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.up_button1 {
  bottom: 30px;
}

@media (max-width: 1199px) {
  .main_image img {
    width: 500px;
  }

  .main_text p {
    font-size: 22px;
    color: white;
    line-height: 30px;
    letter-spacing: 2px;
  }
}
@media (max-width: 999px) {
  .main_image img {
    width: 400px;
  }

  .main_text p {
    font-size: 20px;
    color: white;
    line-height: 28px;
    letter-spacing: 2px;
  }
}
@media (max-width: 769px) {
  .main_image {
    padding-right: 0px;
  }
  .main_image img {
    width: 400px;
    margin-bottom: 20px;
  }

  .main_text p {
    font-size: 20px;
    color: white;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: center;
  }

  .main_container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 20px 30px 20px;
  }

  .extra_menu {
    padding: 0px 10px 0 20px;
  }
  .extra_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .extra_menu ul .menu_link {
    color: rgb(211, 54, 54);
  }
  .extra_menu ul .menu_link:hover {
    color: rgb(211, 138, 54);
  }
  .extra_menu a {
    font-family: "Luckiest Guy", cursive;
    font-size: 20px;
    color: white;
    line-height: 10px;
    letter-spacing: 2px;
    -webkit-transition: 0.1s all linear;
    transition: 0.1s all linear;
    white-space: nowrap;
    display: block;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .extra_menu a:hover {
    color: rgb(211, 138, 54);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .extra_menu .menu_link:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  .main_information .image_monsters {
    width: 250px;
    margin-top: 20px;
    -webkit-transition: 0.1s all linear;
    transition: 0.1s all linear;
  }
  .main_information .image_monsters:hover {
    -webkit-transform: rotate(-3deg) scale(1.1);
            transform: rotate(-3deg) scale(1.1);
  }

  .slider {
    width: 360px;
  }
}
@media (max-width: 586px) {
  .slider {
    margin-top: 40px;
    width: 280px;
    height: 150px;
    overflow: hidden;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0 12px black;
            box-shadow: 0px 0 12px black;
  }
  .slider img {
    width: 100%;
    height: 100%;
  }

  .main_information .image_monsters {
    width: 230px;
  }
}
@media (max-width: 480px) {
  .extra_menu {
    display: none;
  }

  .main_information .image_monsters {
    width: 200px;
  }

  .main_image img {
    width: 300px;
  }
}
@media (max-width: 999px) {
  .main_menu_elements li {
    font-size: 24px;
    padding: 0 10px;
    font-weight: 500;
    font-family: "Luckiest Guy", cursive;
    letter-spacing: 1px;
  }
}
@media (max-width: 769px) {
  .main_menu_elements {
    display: none;
  }

  .logo img {
    width: 250px;
    height: 40px;
  }

  .burger_menu {
    display: inline-block;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
  }
}
@media (max-width: 480px) {
  .logo img {
    width: 200px;
    height: 35px;
  }
}
.footer {
  border-top: 1px solid black;
  -webkit-box-shadow: 0px 0 12px black;
          box-shadow: 0px 0 12px black;
  background: rgba(18, 20, 29, 0.6);
  padding: 20px 0;
}
.footer .footer_text {
  text-align: center;
  font-size: 24px;
  padding: 0 13px;
  font-weight: 400;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 2px;
  color: rgb(211, 54, 54);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #12141d;
  height: auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}