.footer{
    border-top: 1px solid black;
    box-shadow: 0px 0 12px black;
    background: rgba(18, 20, 29, 0.6); 
    .footer_text{
        text-align: center;
        font-size: 24px;
        padding: 0 13px;
        font-weight: 400;
        font-family: 'Luckiest Guy', cursive;
        letter-spacing: 2px;
        color: rgb(211, 54, 54);
    }
    padding: 20px 0;
}